#apiexplorer_container.container-menu {
	max-width: 90% !important;
}
.monster-content#monster-content {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
}
#apiexplorer_container .left-menu .category-group.developer {
	margin-top: 20px;
	position: relative;
}
#content.content {
	color: #383838;
	text-align: justify;
}
#content.content:before {
	content: '';
	display: block;
	width: 100%;
	height: 0;
}
#content.content:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
}
.container-menu .right-content {
	margin-left: 19%;
	margin-left: calc(18% + 16px);
}
.container-menu > .left-menu.developer {
	width: 18%;
	min-width: 180px;
	margin-top: 15px;
}
.item__content {
	position: relative;
	color: #333;
	border-radius: 4px;
	background: #f1f3f4;
	overflow: hidden;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-right: 16px;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.item__head {
	line-height: 24px;
	position: relative;
	display: block;
	padding: 6px 24px 0px;
	cursor: pointer;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	background: #f6f6f6;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 99%) 0%, hsl(0, 0%, 85%) 100%);
	background-image: -moz-linear-gradient(top, hsl(0, 0%, 99%) 0%, hsl(0, 0%, 85%) 100%);
	background-image: -ms-linear-gradient(top, hsl(0, 0%, 99%) 0%, hsl(0, 0%, 85%) 100%);
	background-image: -o-linear-gradient(top, hsl(0, 0%, 99%) 0%, hsl(0, 0%, 85%) 100%);
	background-image: linear-gradient(top, hsl(0, 0%, 99%) 0%, hsl(0, 0%, 85%) 100%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.item__title {
	font-size: 16px;
	text-overflow: ellipsis;
	padding-right: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.item__method {
	font-size: 14px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 24px;
	height: 20px;
	padding: 2px 0px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width: 5.8em;
}
.item__method:hover {
	background-position: 0 0;
	color: #fff;
}
.item__method-GET, .item__method-GET:hover, .item__method-GET:active {
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #5bc0de;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.item__method-PATCH, .item__method-PATCH:hover, .item__method-PATCH:active {
	background-color: #4466ff;
	background-image: -moz-linear-gradient(top, #4ba0fe, #2f76df);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ba0fe), to(#2f76df));
	background-image: -webkit-linear-gradient(top, #4ba0fe, #2f76df);
	background-image: -o-linear-gradient(top, #4ba0fe, #2f76df);
	background-image: linear-gradient(to bottom, #4ba0fe, #2f76df);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4ba0fe', endColorstr='#ff2f76df', GradientType=0);
	border-color: #2f76df #2f76df #4ba0fe;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.item__method-PUT, .item__method-PUT:hover, .item__method-PUT:active {
	background-color: #77ff88;
	background-image: -moz-linear-gradient(top, #44fe80, #2fdf5f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44fe80), to(#2fdf5f));
	background-image: -webkit-linear-gradient(top, #44fe80, #2fdf5f);
	background-image: -o-linear-gradient(top, #44fe80, #2fdf5f);
	background-image: linear-gradient(to bottom, #44fe80, #2fdf5f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff44fe80', endColorstr='#ff2fdf5f', GradientType=0);
	border-color: #2fdf5f #2fdf5f #44fe80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.item__method-POST, .item__method-POST:hover, .item__method-POST:active {
	background-color: #33ee44;
	background-image: -moz-linear-gradient(top, #42de70, #22ce4f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42de70), to(#22ce4f));
	background-image: -webkit-linear-gradient(top, #42de70, #22ce4f);
	background-image: -o-linear-gradient(top, #42de70, #22ce4f);
	background-image: linear-gradient(to bottom, #42de70, #22ce4f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42de70', endColorstr='#ff22ce4f', GradientType=0);
	border-color: #22ce4f #22ce4f #42de70;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.item__method-DELETE, .item__method-DELETE:hover, .item__method-DELETE:active {
	background-color: #ee3333;
	background-image: -moz-linear-gradient(top, #fe3434, #ce2222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fe3434), to(#ce2222));
	background-image: -webkit-linear-gradient(top, #fe3434, #ce2222);
	background-image: -o-linear-gradient(top, #fe3434, #ce2222);
	background-image: linear-gradient(to bottom, #fe3434, #ce2222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffe3434', endColorstr='#ffce2222', GradientType=0);
	border-color: #ce2222 #ce2222 #fe3434;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.input-hidden {
	display: none;
}
.item__body {
	display: block;
	position: relative;
	padding: 16px 30px;
	max-height: 250px;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dnone {
	max-height: 0 !important;
	padding-bottom: 0;
	padding-top: 0;
	overflow: hidden;
}
.pre {
	background-color: #fcfcfd;
	padding-right: 42px;
}
.container-menu > .left-menu .category.developer {
	line-height: 20px;
	height: 24px;
}
#main.category.developer.active {
	line-height: 12px !important;
	padding: 10px 10px 12px !important;
	margin-top: 0px !important;
	color: #fff !important;
	background: #22a5ff !important;
	border: 1px solid #22a5ff !important;
}
#main.category.developer.active .title .title-text.visible-desktop {
	color: #fff !important;
}
.container-menu > .left-menu .category.developer.active::after {
	top: 11px;
	right: -8px;
	border-left: 9px solid #22a5ff !important;
}
.block {
	padding: 0;
	padding-bottom: 0;
	margin-bottom: 19px;
	border: 1px solid #aaa;
	border-radius: 8px;
	background: #fefefe;
	overflow: hidden;
	display: inline-block;
	width: 31%;
	margin-right: 16px;
	vertical-align: top;
	max-width: 300px;
	min-width: 240px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.one_line {
	width: 96.3%;
	width: calc(93% + 32px);
	margin-right: 0;
	max-width: 100%;
}
.one_line .item__content {
	width: 96%;
}
.block__title {
	font-size: 18px;
	padding-top: 10px;
	padding-left: 24px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	background: #f8f8f8;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 84%) 0%, hsl(0, 0%, 96%) 100%);
	background-image: -moz-linear-gradient(top, hsl(0, 0%, 84%) 0%, hsl(0, 0%, 96%) 100%);
	background-image: -ms-linear-gradient(top, hsl(0, 0%, 84%) 0%, hsl(0, 0%, 96%) 100%);
	background-image: -o-linear-gradient(top, hsl(0, 0%, 84%) 0%, hsl(0, 0%, 96%) 100%);
	background-image: linear-gradient(top, hsl(0, 0%, 84%) 0%, hsl(0, 0%, 96%) 100%);
}
.block__title:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 24px;
	margin-top: auto;
	margin-bottom: auto;
	content: "+";
	font-size: 27px;
	height: 27px;
	width: 27px;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-right: 1px;
	border-width: 1px;
	text-shadow: -1px -1px 0 rgba(60, 60, 60, 0.45);
	background-color: #22dd33;
	background-image: -moz-linear-gradient(top, #32ce50, #21be44);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32ce50), to(#21be44));
	background-image: -webkit-linear-gradient(top, #32ce50, #21be44);
	background-image: -o-linear-gradient(top, #32ce50, #21be44);
	background-image: linear-gradient(to bottom, #32ce50, #21be44);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff32ce50', endColorstr='#ff21be44', GradientType=0);
	border-color: #22ce4f #22ce4f #42de70;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-style: solid;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.block__title-minus:after {
	content: "_";
	line-height: 0px !important;
	padding-top: 0;
	background-color: #33ee44;
	background-image: -moz-linear-gradient(top, #42de70, #22ce4f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42de70), to(#22ce4f));
	background-image: -webkit-linear-gradient(top, #42de70, #22ce4f);
	background-image: -o-linear-gradient(top, #42de70, #22ce4f);
	background-image: linear-gradient(to bottom, #42de70, #22ce4f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42de70', endColorstr='#ff22ce4f', GradientType=0);
}
.item__request {
	text-align: center;
}
.item__submit {
	padding-left: 32px;
	padding-right: 32px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}
.item__data {
	text-align: left;
}
.item__input {
	outline: none;
	width: 90%;
	height: auto !important;
	line-height: 22px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.input-block {
	position: relative;
}
.input-block .item__input {
	width: 44%;
}
.input-block .item__input[type="checkbox"] {
	width: 16px;
}
span.req {
	display: none;
	position: absolute;
	left: 42%;
	top: 10px;
	font-size: 32px;
	color: #aaa;
}
.item__input[required='true'] ~ span.req {
	display: inline-block;
}
.box_query {
	display: inline;
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.box_query:nth-child(2n) {
	text-align: right;
}
.ph_query {
	position: relative;
	width: 90%;
	display: inline-block;
	text-align: left;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 6px 8px;
	font-size: 14px;
	margin-bottom: 12px;
	margin-top: 8px;
	cursor: pointer;
	font-weight: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ph_query:after {
	position: absolute;
	content: "";
	bottom: -16px;
	left: 90%;
	border: 8px solid transparent;
	cursor: pointer;
	border-top: 8px solid rgba(0, 0, 0, 0.6);
}
.ph_query span {
	font-weight: 500;
	font-style: italic;
}
.input-search {
	width: 100% !important;
	padding: 0px 10px !important;
	background-color: transparent !important;
	background: transparent !important;
	height: 33px !important;
	line-height: 33px !important;
	outline: none !important;
	cursor: text !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	font-size: 16px !important;
}
.input-search:focus {
	-webkit-box-shadow: 0px 0px 8px -2px #2255ff inset;
	box-shadow: 0px 0px 8px -2px #2255ff inset;
}
.label-search {
	position: absolute;
	color: #aaa;
	right: 12px;
	margin-top: -24px;
	vertical-align: middle;
}
.label-search ~ .category.developer {
	border-top: none !important;
	height: auto !important;
	padding: 0px !important;
}
.label-search ~ .category.developer:hover, .label-search ~ .category.developer:active {
	background: #f6f6f6 !important;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%) !important;
	background-image: -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%) !important;
	background-image: -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%) !important;
	background-image: -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%) !important;
	background-image: linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%) !important;
}
.label-search ~ .category.developer:before {
	border-top: 1px solid #eee !important;
	height: 0px !important;
}
.left__title, .show_all {
	padding: 6px 10px;
	color: #333;
	font-size: 15px;
	cursor: pointer;
	border-bottom: 1px solid #bbbbbb;
	display: block;
	line-height: 20px;
}
.left__title:last-child {
	border-bottom: none;
}
.show_all {
	font-weight: bold;
	display: none;
}
.inputs-list {
	margin: 0 0 -2px 8px;
}
.inputs-list li {
	list-style-type: none;
	list-style: none;
}

.pre_block {
	position: relative;
}
.copy-btn {
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 27px;
	height: 27px;
	width: 27px;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: 16px;
	padding-top: 4px;
	padding-right: 1px;
	border-width: 1px;
	background-color: #a2a2a2;
	border-color: #999999;
	border-style: solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.copy-btn:hover {
	background-color: #929292;
	border-color: rgba(40, 40, 40, 0.7);
}
.box-up {
	width: 100%;
	max-width: 100%;
	position: static;
	clear: both;
	top: 16px;
}
.buffer {
	position: relative;
	height: 32px;
	margin-top: 16px !important;
}
.box__item {
	width: 30%;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #dcdcdc;
	color: #444 !important;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.config {
	margin-right: 5%;
}
.slade-down-all {
	margin-right: 5%;
}
.config__box {
	width: 100%;
	padding: 20px 30px;
	font-size: 16px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
label.label_animation {
	font-size: 18px !important;
	font-weight: 500;
}
.config_save {
	display: block;
	width: 120px;
	margin: 24px auto 0px;
}
.animation_config {
	vertical-align: top;
	margin-left: 10px !important;
	margin-top: 5px !important;
	outline: none !important;
}
.object {
	position: relative;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.object__title {
	font-size: 15px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	border-bottom: 1px dashed #333;
	margin-bottom: 5px;
	display: inline-block;
}
.block__in {
	border: 1px solid #777;
	width: 100%;
	padding: 6px;
	margin-bottom: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.input-block .item__input {
	margin: 3px !important;
}
.input-block-prop {
	margin-top: 20px;
}
.item__input-prop, .item__input-value {
	display: block !important;
}
.item__input-value {
	margin-top: 8px;
	margin-bottom: 16px;
}
.add-input {
	font-size: 32px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 0;
	display: block;
	line-height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 8px;
}
.name_obj {
	font-size: 18px;
	padding-bottom: 4px;
}

.ui-autocomplete.ui-front.ui-menu {
	border-radius: 0px;
	max-height: 220px;
	overflow-y: auto;
	background: #eee !important;
	box-sizing: border-box;
}
.ui-autocomplete.ui-front.ui-menu .ui-menu-item {
	background-image: none;
	cursor: pointer;
	box-sizing: border-box;
}
.ui-autocomplete.ui-front.ui-menu .ui-menu-item[data-enabled="false"] {
	cursor: default;
}
.ui-autocomplete.ui-front.ui-menu .ui-menu-item a {
	background-image: none;
	border-radius: 0px;
	box-sizing: border-box;
}
.ui-autocomplete.ui-front.ui-menu .ui-menu-item:hover a {
	border: 0px;
	color: #25b;
	background-image: none;
	background-color: #ddd;
}
.ui-autocomplete.ui-front.ui-menu .ui-menu-item[data-enabled="false"] a,
.ui-autocomplete.ui-front.ui-menu .ui-menu-item[data-enabled="false"]:hover a {
	color: #333 !important;
	background: #eee !important;
}


.box {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 36%;
	margin-left: 0px;
	margin-top: 0px;
	display: none;
}

.loading:before {
	content: '';
	position: absolute;
	width: 32px;
	height: 32px;
	top: 50%;
	margin-top: -16px;
	left: 50%;
	margin-left: -16px;
	border-width: 2px 1px;
	border-style: solid;
	border-color: rgb(73,175,205) rgba(73,175,205,0.21);
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	animation: spin 4.35s infinite;
	-o-animation: spin 4.35s infinite;
	-ms-animation: spin 4.35s infinite;
	-webkit-animation: spin 4.35s infinite;
	-moz-animation: spin 4.35s infinite;
}
.loading:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	top: 50%;
	margin-top: -3px;
	left: 50%;
	margin-left: -3px;
	background-color: rgb(73,175,205);
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	animation: pulse 8.7s infinite, borderPulse 8.7s infinite;
	-o-animation: pulse 8.7s infinite, borderPulse 8.7s infinite;
	-ms-animation: pulse 8.7s infinite, borderPulse 8.7s infinite;
	-webkit-animation: pulse 8.7s infinite, borderPulse 8.7s infinite;
	-moz-animation: pulse 8.7s infinite, borderPulse 8.7s infinite;
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	50% {
		-o-transform: rotate(360deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	50% {
		-ms-transform: rotate(360deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(360deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}

@keyframes pulse {
	0% {
		background-color: rgba(73,175,205,0.44);
	}
	13% {
		background-color: rgba(73,175,205,0.22);
	}
	15% {
		background-color: rgba(73,175,205,0.98);
	}
	28% {
		background-color: rgba(73,175,205,0.85);
	}
	30% {
		background-color: rgba(73,175,205,0.58);
	}
	43% {
		background-color: rgba(73,175,205,0.17);
	}
	45% {
		background-color: rgba(73,175,205,0.86);
	}
	70% {
		background-color: rgba(73,175,205,0.83);
	}
	74% {
		background-color: rgba(73,175,205,0.26);
	}
	100% {
		background-color: rgba(73,175,205,0.79);
	}
}

@-o-keyframes pulse {
	0% {
		background-color: rgba(73,175,205,0.44);
	}
	13% {
		background-color: rgba(73,175,205,0.22);
	}
	15% {
		background-color: rgba(73,175,205,0.98);
	}
	28% {
		background-color: rgba(73,175,205,0.85);
	}
	30% {
		background-color: rgba(73,175,205,0.58);
	}
	43% {
		background-color: rgba(73,175,205,0.17);
	}
	45% {
		background-color: rgba(73,175,205,0.86);
	}
	70% {
		background-color: rgba(73,175,205,0.83);
	}
	74% {
		background-color: rgba(73,175,205,0.26);
	}
	100% {
		background-color: rgba(73,175,205,0.79);
	}
}

@-ms-keyframes pulse {
	0% {
		background-color: rgba(73,175,205,0.44);
	}
	13% {
		background-color: rgba(73,175,205,0.22);
	}
	15% {
		background-color: rgba(73,175,205,0.98);
	}
	28% {
		background-color: rgba(73,175,205,0.85);
	}
	30% {
		background-color: rgba(73,175,205,0.58);
	}
	43% {
		background-color: rgba(73,175,205,0.17);
	}
	45% {
		background-color: rgba(73,175,205,0.86);
	}
	70% {
		background-color: rgba(73,175,205,0.83);
	}
	74% {
		background-color: rgba(73,175,205,0.26);
	}
	100% {
		background-color: rgba(73,175,205,0.79);
	}
}

@-webkit-keyframes pulse {
	0% {
		background-color: rgba(73,175,205,0.44);
	}
	13% {
		background-color: rgba(73,175,205,0.22);
	}
	15% {
		background-color: rgba(73,175,205,0.98);
	}
	28% {
		background-color: rgba(73,175,205,0.85);
	}
	30% {
		background-color: rgba(73,175,205,0.58);
	}
	43% {
		background-color: rgba(73,175,205,0.17);
	}
	45% {
		background-color: rgba(73,175,205,0.86);
	}
	70% {
		background-color: rgba(73,175,205,0.83);
	}
	74% {
		background-color: rgba(73,175,205,0.26);
	}
	100% {
		background-color: rgba(73,175,205,0.79);
	}
}

@-moz-keyframes pulse {
	0% {
		background-color: rgba(73,175,205,0.44);
	}
	13% {
		background-color: rgba(73,175,205,0.22);
	}
	15% {
		background-color: rgba(73,175,205,0.98);
	}
	28% {
		background-color: rgba(73,175,205,0.85);
	}
	30% {
		background-color: rgba(73,175,205,0.58);
	}
	43% {
		background-color: rgba(73,175,205,0.17);
	}
	45% {
		background-color: rgba(73,175,205,0.86);
	}
	70% {
		background-color: rgba(73,175,205,0.83);
	}
	74% {
		background-color: rgba(73,175,205,0.26);
	}
	100% {
		background-color: rgba(73,175,205,0.79);
	}
}

@keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(73,175,205,0.83);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(73,175,205,0.50);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(73,175,205,0.30);
	}
}

@-o-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(73,175,205,0.83);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(73,175,205,0.50);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(73,175,205,0.30);
	}
}

@-ms-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(73,175,205,0.83);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(73,175,205,0.50);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(73,175,205,0.30);
	}
}

@-webkit-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(73,175,205,0.83);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(73,175,205,0.50);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(73,175,205,0.30);
	}
}

@-moz-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(73,175,205,0.83);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 2px rgba(73,175,205,0.50);
	}
	80% {
		box-shadow: 0 0 0 3px #FFF, 0 0 1px 3px rgba(73,175,205,0.30);
	}
}